.cmp-carousel {
  margin: 1rem 0;
}
.cmp-carousel__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  padding-bottom: 3.5rem;
}
@media (max-width: 769px) {
  .cmp-carousel__content {
    padding-bottom: 2.5rem;
  }
}
.cmp-carousel__item {
  display: block;
  flex-shrink: 0;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}
.cmp-carousel__item .cmp-image {
  margin: 0;
}
.cmp-carousel__item .cmp-image__image {
  border-radius: 0.3125rem;
  user-select: none;
}
.cmp-carousel__indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.125rem 0;
}

@media (max-width: 769px) {
  .cmp-carousel__indicators {
    display:none;
  }
}

.cmp-carousel__indicator {
  background-color: #EAEBEB;
  width: 40px;
  height: 2px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  border-radius:0px;
  cursor:pointer;
}
.cmp-carousel__indicator--active {
  background-color: #455A64;
}
.cmp-carousel__actions {
  position: absolute;
  bottom: 64px;
  right: 8px;
}

@media (max-width: 769px) {
  .cmp-carousel__actions {
    display: none;
  }
}

.cmp-carousel__action {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor:pointer;
  width: 40px;
  height:40px;
  background: #ECEFF1 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border:none;
}
.cmp-carousel__action--pause,
.cmp-carousel__action--play {
  display: none;
}
.cmp-carousel__action-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 24px;
  width: 28px;
  display: block;
}
.cmp-carousel__action--previous {
  & .cmp-carousel__action-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00NDUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDQ1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMzAuNzA3LTMuNTY1YTEsMSwwLDAsMSwwLTEuNDE0bDQuOTQ5LTQuOTUtNC45NDktNC45NWExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjY1Nyw1LjY1NmExLDEsMCwwLDEsLjI5My43MDcsMSwxLDAsMCwxLS4yOTMuNzA3TDMyLjEyMS0zLjU2NWExLDEsMCwwLDEtLjcwNy4yOTNBMSwxLDAsMCwxLDMwLjcwNy0zLjU2NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMi45MjkgMTAxLjkyOSkiLz48L2c+PC9zdmc+");
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
  }
}
.cmp-carousel__action--next {
  & .cmp-carousel__action-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00NDUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDQ1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMzAuNzA3LTMuNTY1YTEsMSwwLDAsMSwwLTEuNDE0bDQuOTQ5LTQuOTUtNC45NDktNC45NWExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjY1Nyw1LjY1NmExLDEsMCwwLDEsLjI5My43MDcsMSwxLDAsMCwxLS4yOTMuNzA3TDMyLjEyMS0zLjU2NWExLDEsMCwwLDEtLjcwNy4yOTNBMSwxLDAsMCwxLDMwLjcwNy0zLjU2NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMi45MjkgMTAxLjkyOSkiLz48L2c+PC9zdmc+");
  }
}

.cmp-carousel__action-text {
  display: none;
}
